body {
    background: url("../images/background_body.png") repeat-x;
}

#header_2_buscar_vagas input[type=text] {
    background: #FFFFFF url(../images/header_2_buscar_vagas_lupa.png) no-repeat;
}

#header_2_buscar_vagas input[type=text]:focus {
    background: #FFFFFF url(../images/header_2_buscar_vagas_lupa.png) 0px -40px no-repeat;
}



#header_2_cadastrar_vaga a {
    background: #FF4000;
}

#header_2_cadastrar_vaga a:hover {
    background: #FF5C26;
}



a.class_categoria {
    background: #FF5C26 url(../../../images/background_header_3_todas_categorias.png);
}

a.class_categoria:hover {
    background: #FF4000 url(../../../images/background_header_3_todas_categorias.png) -167px;
    color: #FF4000;
}

a.class_categoria:active {
    background: #FF4000 url(../../../images/background_header_3_todas_categorias.png) -167px;
    color: #FF4000;
}

#header_3_categorias li a {
    background: #FF4000;
}

#header_3_categorias li a:hover {
    background: #FF5C26;
}

#header_3_categorias li a:active {
    background: #FF5C26;
}



#header_4_navegacao li a:hover {
    color: #FF5C26;
}

#header_4_navegacao li a:active {
    color: #FF5C26;
}

#header_4_menu_candidato li a:hover,
#header_4_menu_empresa li a:hover
{
    background: #FF4000;
}

#header_4_menu_candidato li a:hover,
#header_4_menu_empresa li a:hover
{
    background: #FF4000;
}

#header_4_menu_candidato li a:active,
#header_4_menu_empresa li a:active
{
    background: #FF4000;
}

#header_4_ola a {
    color: #FF4000;
}

#header_4_ola b {
    color: #FF4000;
}



.cadastrar_slep_active {
    color: #FF4000;
}

.cadastrar_slep_active b {
    background: #FF4000;
}



.editar_candidato_sleps {
    color: #FF4000;
}

.editar_candidato_sleps li a:hover {
    color: #FF4000;
}



#conta_plus_planos b {
    color: #FF4000;
}



.curriculo_subtitulos {
    color: #FF4000;
}

#curriculo_imprimir_curriculo a {
    color: #FF4000;
}

#curriculo_imprimir_curriculo a:hover {
    color: #FF5C26;
}

#curriculo_imprimir_curriculo img {
    background: #FF4000;
}

#curriculo_copyright a {
    color: #FF4000;
}

#curriculo_copyright a:hover {
    background: #FF4000;
}



#sidebar_160_categorias li a:hover {
    background: #FF4000;
}

#sidebar_160_categorias li a:active {
    background: #FF4000;
}



#sidebar_300_categorias li a:hover {
    background: #FF4000;
}

#sidebar_300_categorias li a:active {
    background: #FF4000;
}



.todas_categorias_menu_dia {
    color: #FF4000;
}

.todas_categorias_menu_estilo li a:hover {
    background: #FF4000;
}



#vaga_candidatos {
    color: #FF4000;
}

#vaga_enviar_curriculo_botao a {
    background: #FF4000;
}

#vaga_enviar_curriculo_botao a:hover {
    background: #FF5C26;
}

#vaga_localizacao_texto {
    color: #FF4000;
}

#vaga_localizacao_texto img {
    background: #FF4000;
}

#vaga_denuncie span{
    color: #FF4000;
}



#footer_fb_likebox img {
    background: #FF4000;
}



#footer {
    background: #FF4000;
}

#footer_1_menu li a:hover {
    background: #FF5C26;
}

#footer_1_menu li a:active {
    background: #FF5C26;
}

#footer_1_icons a:hover {
    background: #FF5C26;
}

.footer_2_colunas_estilo li a:hover {
    background: #FF5C26;
    color: #FFFFFF;
}

#footer_3_copyright a:hover {
    background: #FF5C26;
}



.conta_plus_status a {
    color: #FF4000;
}



.formulario input[type=submit], .formulario input[type=button], .formulario button {
    background: #FF4000;
}

.formulario input[type=submit]:hover, .formulario input[type=button]:hover, .formulario button:hover {
    background: #FF5C26;
}



.info_estatisticas b {
    color: #FF4000;
}



.page_count-letter li a:hover {
    background: #FF4000;
}

.page_count-letter a:active {
    background: #FF4000;
}



.page_template_links a {
    color: #FF4000;
}

.page_template_links a:hover {
    color: #FF5C26;
}



.row-info a {
    color: #FF4000;
}

.row-info a:hover {

    background: #FF4000;
}

.row-info-plus a {
    color: #FF4000;
}

.row-info-plus a:hover {
    background: #FF4000;
}

.counter b {
    color: #FF4000;
}

.titulo_pequeno {
    color: #FF4000;
}

.titulo_medio {
    color: #FF4000;
}

.titulo_grande {
    color: #FF4000;
}
