﻿body {
    background: url("../images/header_background.jpg") repeat-x;
}

#header_2_buscar_vagas-canditatos input[type=text] {
    background: #FFFFFF url(../images/header_2_buscar_vagas_lupa.jpg) no-repeat;
}

#header_2_buscar_vagas-canditatos input[type=text]:focus {
    background: #FFFFFF url(../images/header_2_buscar_vagas_lupa.jpg) 0px -40px no-repeat;
}








#header_2_cadastrar_vaga a {
	background: #00468C;
}

#header_3_todas_categorias a {
    background: #0063C6;
}

#header_3_todas_categorias a:hover {
	color: #0063C6;
}

#header_3_todas_categorias a:active {
	color: #0063C6;
}

#header_3_categorias li a {
	background: #00468C;
}

#header_4_ola b {
	color: #00468C;
}

#header_4_ola a {
	color: #00468C;
}

#footer_body {
    background: url("../images/footer_background.jpg") repeat-x;
}

#vaga_enviar_curriculo a {
	background: #00468C;
}

#vaga_candidatos {
	color: #00468C;
}

#m_header_1_ola a {
	color: #00468C;
}

#m_header_1_alterar_estado a {
	color: #00468C;
}

#m_header_2 {
	background: #00468C;
}

#m_header_3 {
	background: #00468C;
}

#m_footer_versao_pc a {
	color: #00468C;
}

#m_vaga_candidatos {
	color: #00468C;
}

.curriculo_sleps li a:hover {
	color: #00468C;
}

.curriculo_sleps li a.active {
	color: #00468C;
}

.curriculo_sleps li a.active {
	border-bottom: 2px #00468C solid;
}

.page_template_links a {
	color: #00468C;
}

.page_template_links a:hover {
	color: #0080FF;
}

.titulo_pequeno {
	color: #00468C;
}

.titulo_medio {
	color: #00468C;
}

.titulo_grande {
	color: #00468C;
}

.row-info a {
	color: #00468C;
}

.row-info a:hover {
	background: #00468C;
}

.counter b {
	color: #00468C;
}

.formulario input[type=submit],
.formulario input[type=button],
.formulario button
{
	background: #00468C;
}











#header_2_cadastrar_vaga a:hover {
	background: #0063C6;
}

#footer_1_menu li a:hover {
    background: #0063C6;
}

#footer_1_menu li a:active {
    background: #0063C6;
}

#footer_1_icons a:hover {
    background: #0063C6;
}

#vaga_enviar_curriculo a:hover {
	background: #0063C6;
}








#header_4_navegacao li a:hover {
	color: #0080FF;
}

#header_4_navegacao li a:active {
	color: #0080FF;
}

.header_4_menu li a:hover {
	color: #0080FF;
}

.header_4_menu li a:active {
	color: #0080FF;
}

#header_4_ola a:hover {
	color: #0080FF;
}

#m_header_1_ola a:hover{
	color: #0080FF;
}

#m_header_1_alterar_estado a:hover {
	color: #0080FF;
}

#m_header_4_fazer_login a {
    color: #0080FF;
}

#m_header_4_menu_candidato li a:hover{
    color: #0080FF;
}

#m_footer_versao_pc a:hover {
    color: #0080FF;
}




