@charset "utf-8";
/* CSS Document */

* {
	border: 0;
	padding: 0;
	margin: 0;
	outline: none;
}

body {
    font-family: tahoma;
    width: 100%;
}

/*--------------------------------------------------------------------------->> CONTAINER */
#container {
    margin: 0 auto;
	min-width: 1100px;
	max-width: 1100px;
	min-height: 1000px;
	margin-bottom: 40px;
}

/*--------------------------------------------------------------------------->> HEADER */
#header {
    height: 280px;
    width: 100%;
}

/*-------------------------------------------------->> HEADER 1 */
#header_1 {
    background: #333333;
    height: 40px;
    width: 100%;
}

/*------------------------->> ICONES */
#header_1_icons {
    float: left;
    left: 5px;
    position: relative;
    top: 5px;
}

#header_1_icons a {
	float: left;
    height: 30px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#header_1_icons a:hover {
    background: #444444;
}

/*------------------------->> MENU */
#header_1_menu {
    float: right;
    position: relative;
    right: 5px;
    top: 5px;
}

#header_1_menu li {
    display: inline;
    float: right;
}

#header_1_menu li a {
    color: #FFFFFF;
    font-size: 12px;
	display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px 0 10px;
    text-decoration: none;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#header_1_menu li a:hover {
    background: #444444;
}

#header_1_menu li a:active {
    background: #444444;
}

/*-------------------------------------------------->> HEADER 2 */
#header_2 {
    height: 120px;
    width: 100%;
}

/*------------------------->> LOGOTIPO */
#header_2_logotipo {
    float: left;
    left: 5px;
	top: 5px;
    position: relative;
}

#header_2_logotipo img {
    height: 100px;
    width: 275px;
}

/*------------------------->> BUSCAR VAGAS */
#header_2_buscar_vagas-canditatos {
    float: right;
    position: relative;
    right: 5px;
    top: 50px;
}

#header_2_buscar_vagas-canditatos i {
    color: #999999;
    font-size: 10px;
}

#header_2_buscar_vagas-canditatos input[type=text] {
	background: #FFFFFF url(../domains/Emprega-me/images/header_2_buscar_vagas_lupa.png) no-repeat;
    color: #666666;
    float: left;
    font-size: 14px;
    height: 40px;
    text-align: left;
    text-indent: 30px;
    width: 400px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#header_2_buscar_vagas-canditatos input[type=text]:focus {
	background: #FFFFFF url(../domains/Emprega-me/images/header_2_buscar_vagas_lupa.png) 0px -40px no-repeat;
}

/*------------------------->> CADASTRAR VAGA */
#header_2_cadastrar_vaga {
    float: right;
    position: relative;
    right: 15px;
    top: 50px;
}

#header_2_cadastrar_vaga a {
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    width: 180px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

/*-------------------------------------------------->> HEADER 3 */
#header_3 {
    height: 50px;
    width: 100%;
}

/*------------------------->> TODAS CATEGORIAS */
#header_3_todas_categorias {
    float: left;
    height: 36px;
    left: 5px;
    position: relative;
    top: 8px;
    width: 160px;
}

#header_3_todas_categorias a {
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#header_3_todas_categorias a:hover {
	background: #FFFFFF;
}

#header_3_todas_categorias a:active {
	background: #FFFFFF;
}

a.class_categoria {
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    width: 160px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

/*------------------------->> CATEGORIAS */
#header_3_categorias {
    float: left;
    height: 36px;
    left: 10px;
    position: relative;
    top: 8px;
	max-height: 925px;
}

#header_3_categorias li {
    display: inline;
    float: left;
}

#header_3_categorias li a {
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    padding: 0 10px 0 10px;
    text-decoration: none;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

/*------------------------->> CATEGORIAS */
#header_3_categorias {
    float: left;
    height: 36px;
    left: 10px;
    position: relative;
    top: 8px;
	max-height: 925px;
}

#header_3_categorias li {
    display: inline;
    float: left;
}

#header_3_categorias li a {
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    padding: 0 10px 0 10px;
    text-decoration: none;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#header_3_categorias li a:hover {
	background: #0059B2;
}

#header_3_categorias li a:active {
	background: #0059B2;
}

/*-------------------------------------------------->> HEADER 4 */
#header_4 {
    height: 40px;
    width: 100%;
}

/*------------------------->> NAVEGAÇÃO */
#header_4_navegacao {
    float: left;
    height: 30px;
    left: 5px;
    position: relative;
    top: 5px;
}

#header_4_navegacao li {
	float: left;
    display: inline;
    padding: 0 15px 0 0;
}

#header_4_navegacao li a {
    color: #999999;
    font-size: 11px;
    text-decoration: none;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

/*------------------------->> MENU CANDIDATO */
.header_4_menu {
    float: right;
    height: 30px;
    position: relative;
    right: 5px;
    top: 5px;
}

.header_4_menu li {
	float: left;
    display: inline;
    padding: 0 0 0 15px;
}

.header_4_menu li a {
    color: #666666;
    font-size: 12px;
    text-decoration: none;
}

/*------------------------->> OLÁ */
#header_4_ola {
    color: #999999;
    float: right;
    font-size: 12px;
    position: relative;
    right: 5px;
    top: 9px;
}

#header_4_ola a {
    text-decoration: none;
}

/*--------------------------------------------------------------------------->> FOOTER FB LIKEBOX */
#footer_fb_likebox {
	min-width: 1096px;
	max-width: 1096px;
	margin: 0 auto;
	color: #666666;
    font-size: 18px;
    border: 2px solid #F5F5F5;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

/*--------------------------------------------------------------------------->> FOOTER EMPRESAS */
#footer_empresas {
	height: 150px;
	min-width: 1096px;
	max-width: 1096px;
	margin: 0 auto;
    font-size: 14px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#footer_empresas a {
	color: #999999;
    text-decoration: none;
}

#footer_empresas a:hover {
	color: #666666;
}

/*--------------------------------------------------------------------------->> FOOTER BODY */
#footer_body {
	margin: 50px 0 0 0;
    height: 350px;
    width: 100%;
	min-width: 1100px;
}

/*--------------------------------------------------------------------------->> FOOTER */
#footer {
    margin: 0 auto;
	width: 1100px;
}

/*-------------------------------------------------->> FOOTER 1 */
#footer_1 {
    height: 50px;
    width: 100%;
}

/*------------------------->> MENU */
#footer_1_menu {
    float: right;
    position: relative;
    right: 5px;
    top: 8px;
}

#footer_1_menu li {
    display: inline;
    float: right;
}

#footer_1_menu li a {
    color: #FFFFFF;
    font-size: 12px;
	display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px 0 10px;
    text-decoration: none;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

/*------------------------->> ICONES */
#footer_1_icons {
    float: left;
    left: 5px;
    position: relative;
    top: 8px;
}

#footer_1_icons a {
	float: left;
    height: 30px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

/*-------------------------------------------------->> FOOTER 2 */
#footer_2 {
    height: 250px;
    width: 100%;
}

/*------------------------->> LOCAIS TEXTO */
#footer_2_locais_texto {
    color: #FFFFFF;
    font-size: 20px;
    left: 5px;
    margin: 0 0 10px 0;
    position: relative;
}

/*------------------------->> COLUNAS */
#footer_2_locais_colunas {
    left: 5px;
    position: relative;
    width: 100%;
}

/*------------------------->> COLUNAS 1 2 3 4 */
#footer_2_locais_coluna_1,
#footer_2_locais_coluna_2,
#footer_2_locais_coluna_3,
#footer_2_locais_coluna_4
{
	float: left;
    margin: 0 15px 0 0;
    width: 200px;
}


/*------------------------->> ESTILO COLUNAS */
.footer_2_colunas_estilo ul {
	list-style: none;
}
.footer_2_colunas_estilo li {
	margin: 0 0 4px 0;
    color: #FFFFFF;
}

.footer_2_colunas_estilo li a {
    color: #FFFFFF;
    font-size: 12px;
    padding: 4px 6px;
    text-decoration: none;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.footer_2_colunas_estilo li a:hover {
    color: #FFFFFF;
	background: #0059B2;
}

/*-------------------------------------------------->> FOOTER 3 */
#footer_3 {
    height: 40px;
    width: 100%;
}

/*------------------------->> COPYRIGHT*/
#footer_3_copyright {
    color: #FFFFFF;
    float: right;
    font-size: 12px;
    position: relative;
    right: 5px;
}

#footer_3_copyright a {
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
}

/*--------------------------------------------------------------------------->> VAGA */

#vaga_enviar_curriculo {
	height: 40px;
}

#vaga_enviar_curriculo a,
#vaga_enviar_curriculo spam
{
	display: block;
	float: left;
    font-size: 14px;
    padding: 10px 15px;
    text-align: center;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#vaga_enviar_curriculo a {
    color: #FFFFFF;
}

#vaga_enviar_curriculo spam {
	background: #666666;
    color: #FFFFFF;
}

/*------------------------->> CANDIDATOS */
#vaga_candidatos {
    background: #EEEEEE;
    float: right;
    font-size: 22px;
    text-align: center;
	padding: 5px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#vaga_candidatos span {
    color: #999999;
    font-size: 12px;
    position: relative;
    text-align: center;
    top: -8px;
}

/*------------------------->> LIKE BOTTON */
#vaga_like_button {
    float: right;
    position: relative;
    right: 5px;
}

/*--------------------------------------------------------------------------->> VERSÃO MOBILE */

/*------------------------->> CONTAINER */
#m_container {
    margin: 0 auto;
	min-width: 320px;
	max-width: 800px;
	min-height: 1000px;
	margin-bottom: 40px;
}

/*------------------------->> HEADER */
#m_header {
	width: 100%;
	height: 175px;
}

/*------------------------->> HEADER 1 */
#m_header_1 {
	background: #EEEEEE;
	height: 25px;
	width: 100%;
}

/*------------------------->> HEADER 1 OLÁ */
#m_header_1_ola {
    color: #333333;
    font-size: 11px;
	position: relative;
	left: 5px;
	top: 8px;
	float: left;
}

#m_header_1_ola a {
	text-decoration: none;
}

/*------------------------->> HEADER 1 ALTERAR ESTADO */
#m_header_1_alterar_estado {
    color: #333333;
    font-size: 11px;
	position: relative;
	right: 5px;
	top: 8px;
	float: right;
}

#m_header_1_alterar_estado a {
	text-decoration: none;
}

#m_header_1_alterar_estado a:hover {
	text-decoration: none;
}

/*------------------------->> HEADER 2 */
#m_header_2 {
	height: 65px;
	width: 100%;
}

/*------------------------->> HEADER 2 MENU CATEGORIAS */
#m_header_2_menu_categorias {
	float: left;
	position: relative;
	top: 12px;
	left: 5px;
}

/*------------------------->> HEADER 2 LOGOTIPO */
#m_header_2_logotipo {
	float: left;
	position: relative;
	top: 5px;
	left: 10px;
}


/*------------------------->> HEADER 3 */
#m_header_3 {
	width: 100%;
	height: 50px;
}

/*------------------------->> HEADER 3 BUSCAR VAGAS*/
#m_header_3_buscar_vagas {
	position: relative;
	left: 10px;
	width: 80%;
}

#m_header_3_buscar_vagas input[type=text] {
    color: #666666;
	padding: 10px;
    font-size: 12px;
    text-align: left;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

/*------------------------->> HEADER 4 */
#m_header_4 {
	width: 100%;
	height: 40px;
}

/*------------------------->> HEADER 4 FAZER LOGIN*/
#m_header_4_fazer_login {
    color: #333333;
    font-size: 12px;
	position: relative;
	right: 5px;
	top: 5px;
	float: right;
}

#m_header_4_fazer_login a {
	text-decoration: none;
}

/*------------------------->> HEADER 4 MENU CANDIDATO*/
#m_header_4_menu_candidato {
    float: right;
    height: 30px;
    position: relative;
    right: 5px;
    top: 5px;
}

#m_header_4_menu_candidato li {
	float: left;
    display: inline;
    padding: 0 0 0 15px;
}

#m_header_4_menu_candidato li a {
    color: #666666;
    font-size: 12px;
    text-decoration: none;
}

/*--------------------------------------------------------------------------->> FOOTER */
#m_footer {
    margin: 0 auto;
	width: 100%;
	max-width: 800px;
}

/*------------------------->> FOOTER VERSÃO PC */
#m_footer_versao_pc {
    color: #333333;
	line-height: 25px;
	height: 25px;
	background: #EEEEEE;
    font-size: 11px;
    padding: 0 5px 0 0;
	text-align: right;
}

#m_footer_versao_pc a {
	text-decoration: none;
}

/*------------------------->> FOOTER MENU 1 */
#m_footer_menu li {
    display: inline;
}

#m_footer_menu li a {
	background: #333333;
    color: #FFFFFF;
    font-size: 12px;
	display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px 0 10px;
    text-decoration: none;
	
	border-bottom: 2px #555555 solid;
}

#m_footer_menu li a:hover {
	background: #444444;
	color: #FFFFFF;
}

#m_footer_menu li a.active {
	background: #444444;
	color: #FFFFFF;
}

/*------------------------->> FOOTER COPYRIGHT */
#m_footer_copyright {
	background: #FFFFFF;
	color: #333333;
	line-height: 25px;
	height: 25px;
	font-size: 11px;
    padding: 0 0 0 5px;
}

#m_footer_copyright {
	background: #FFFFFF;
	color: #333333;
	line-height: 25px;
	height: 25px;
	font-size: 11px;
    padding: 0 0 0 5px;
}

#m_footer_copyright a {
	color: #333333;
	text-decoration: none;
}

/*------------------------->> CANDIDATOS */
#m_vaga_candidatos {
    background: #EEEEEE;
    float: right;
    font-size: 14px;
    text-align: center;
	padding: 5px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#m_vaga_candidatos span {
    color: #999999;
    font-size: 11px;
    position: relative;
    text-align: center;
    top: -4px;
}

/*------------------------->> CURRÍCULO SLEPS */
.curriculo_sleps {
	float: right;
}

.curriculo_sleps li {
    display: inline;
    float: left;
}

.curriculo_sleps li a {
    color: #444444;
    font-size: 12px;
	display: block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px 0 10px;
    text-decoration: none;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}



































/*--------------------------------------------------------------------------->> PAGE TEMPLATE */
.page_template {
	color: #555555;
    padding: 5px;
	font-size: 12px;
}

.page_template a {
    text-decoration: none;
}

/*--------------------------------------------------------------------------->> PAGE TEMPLATE */
.page_template_links a {
    text-decoration: none;
}

/*--------------------------------------------------------------------------->> TITULO PEQUENO */
.titulo_pequeno {
    margin: 0 0 5px 0;
    font-size: 14px;
}

/*--------------------------------------------------------------------------->> TITULO MÉDIO */
.titulo_medio {
    margin: 0 0 10px 0;
    font-size: 16px;
}

/*--------------------------------------------------------------------------->> TITULO GRANDE */
.titulo_grande {
    margin: 0 0 10px 0;
    font-size: 20px;
}

/*--------------------------------------------------------------------------->> ROW/ROW-ALT */
.row {
    background: #EEEEEE;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.row-alt {
    background: #FBFBFB;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

}

.row,
.row-alt
{
    font-size: 12px;
	min-height: 35px;
    margin: 0 0 2px 0;
    width: 100%;
}

.row small,
.row-alt small
{
    font-size: 11px;
}

/*------------------------->> ROW 1 */
#row_1 {
	height: 35px;
}

/*------------------------->> ROW 2 */
#row_2 {
	border-top: 1px solid #FFFFFF;
	font-size: 11px;
	height: 20px;
	margin: 0px 0px 4px 0px;

	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	-moz-border-radius-bottomright: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
}

/*------------------------->> ROW INFO */
.row-info {
    color: #666666;
    float: left;
    height: 35px;
}

.row-info small {
    position: relative;
    top: 5px;
}

.row-info span {
    color: #999999;
}

.row-info u {
	color: #666666;
    padding: 3px 5px;
    position: relative;
    text-decoration: none;
    top: 5px;
}

.row-info a {
    padding: 3px 5px;
    position: relative;
    text-decoration: none;
    top: 5px;
}

.row-info a:hover {
    color: #FFFFFF;
    text-decoration: none;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.row-info img {
    margin: 0 5px 0 5px;
    position: relative;
    top: 9px;
}

/*------------------------->> ROW 2 INFO */
.row_2-info {
	color: #666666;
	float: left;
	font-size: 11px;
	left: 5px;
	position: relative;
	top: 3px;
}

.row_2-info span{
	color: #888888;
}

/*------------------------->> ROW MENUS */
.row_menu {
    border-left: 2px solid #FFFFFF;
    float: right;
    height: 35px;
    margin: 0 0 0 5px;
    padding: 0 0 0 5px;
    position: relative;
    right: 5px;

    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-topright: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-top-right-radius: 2px;
}

.row_menu img {
    position: relative;
    top: 10px;
}

/*------------------------->> COUNTER */
.counter {
    float: right;
    position: relative;
    right: 5px;
    top: 10px;
}

.counter small {
    color: #999999;
}

/*------------------------->> FEATURED IMG */
.featured img {
    float: right;
    position: relative;
    right: 0;
    top: 0;
}

/*------------------------->> TIME POST */
.time_post {
    float: right;
    position: relative;
    right: 5px;
    top: 10px;
}

.time_post small {
    color: #999999;
}

.time_post img {
    position: relative;
    top: 1px;
}

/*--------------------------------------------------------------------------->> PAGE COUNT LETTER */
.page_count-letter {
    margin: 20px 0;
}

.page_count-letter li {
    display: inline;
}

.page_count-letter li a {
	background: #EEEEEE;
    color: #666666;
    font-size: 12px;
    padding: 5px;
    text-decoration: none;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.page_count-letter a:hover {
	color: #FFFFFF;
	background: #333333;
}

/*--------------------------------------------------------------------------->> ERRO INPUT */
.formulario div.error {
    clear: both;
    color: #FF0000;
}

/*--------------------------------------------------------------------------->> FORMÁRIO SELECT */
.formulario select {
    border: 1px solid #E9E9E9;
    color: #888888;
    font-size: 12px;
    outline: none;
    padding: 10px;
	margin: 4px 0;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.formulario select:focus {
    border: 1px solid #DDDDDD;
}

.formulario select.error {
    border: 1px solid #FF0000;
}

/*--------------------------------------------------------------------------->> FORMÁRIO SUBMIT */
.formulario input[type=submit],
.formulario input[type=button],
.formulario button
{
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
	margin: 4px 0;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

/*--------------------------------------------------------------------------->> FORMÁRIO TEXT/PASSWORD */
.formulario input[type=text],
.formulario input[type=email],
.formulario input[type=password]
{
    border: 1px solid #EEEEEE;
    color: #888888;
    font-family: tahoma;
    font-size: 12px;
    padding: 10px;
	margin: 4px 0;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.formulario input[type=text]:focus,
.formulario input[type=email]:focus,
.formulario input[type=password]:focus
{
    border: 1px solid #DDDDDD;
}

.formulario input[type=text].error,
.formulario input[type=email].error,
.formulario input[type=password].error
{
    border: 1px solid #FF0000;
}

/*--------------------------------------------------------------------------->> FORMÁRIO TEXT AREA */
.formulario textarea {
    border: 1px solid #E9E9E9;
    color: #888888;
    font-family: tahoma;
    font-size: 12px;
    padding: 10px;
	margin: 4px 0;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.formulario textarea:focus {
    border: 1px solid #DDDDDD;
}

.formulario textarea.error {
    border: 1px solid #FF0000;
}

.formulario input[type=submit]:hover {
	background: #0059B2;
}


/*--------------------------------------------------------------------------->> MOLDURA CINZA */
.moldura_cinza {
    background: #F5F5F5;
    color: #555555;
    font-size: 12px;
    padding: 10px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.moldura_cinza small {
    color: #999999;
    font-size: 10px;
}








.categorias_sidebar a:hover {
    color: #FFFFFF;
}

.categorias_sidebar li {
    display: inline;
}

.categorias_sidebar li small {
    color: #999999;
}

.categorias_sidebar li a {
    background: #EEEEEE;
    color: #666666;
    display: block;
    height: 32px;
    line-height: 32px;
    margin: 0 0 2px 0;
    padding: 0 0 0 10px;
    text-decoration: none;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.categorias_sidebar li a:hover {
    color: #666666;
	background: #F5F5F5;
}

.categorias_sidebar li a:hover small {
    color: #999999;
}

/*--------------------------------------------------------------------------->> ALERTA CINZA */
.alerta_cinza {
    background: #EDEDED;
    color: #666666;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

/*--------------------------------------------------------------------------->> ALERTA VERDE */
.alerta_verde {
    background: #88C11E;
    color: #FFFFFF;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

/*--------------------------------------------------------------------------->> ALERTA VERMELHO */
.alerta_vermelho {
    background: #FF0E0E;
    color: #FFFFFF;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}




















/*--------------------------------------------------------------------------->> TODAS CATEGORIAS */
#todas_categorias_menu {
    background: #FFFFFF;
    border: 2px solid #EDEDED;
    border-radius: 2px;
    left: 0px;
    position: relative;
    display: none;
    width: 1087px;
}

#todas_categorias_menu ul {
    list-style: none;
}

/*------------------------->> SET UP */
#todas_categorias_menu_set_up {
    float: left;
    left: 76px;
    position: relative;
    top: -207px;
}

/*------------------------->> DATA */
#todas_categorias_menu_data {
    height: 190px;
    position: relative;
    top: 15px;
}

/*------------------------->> DIA */
.todas_categorias_menu_dia {
    font-size: 98px;
}

/*------------------------->> LISTA */
#todas_categorias_menu_lista {
    height: 190px;
    position: relative;
    top: 15px;
}

/*------------------------->> COLUNAS */
#todas_categorias_menu_col_1,
#todas_categorias_menu_col_2,
#todas_categorias_menu_col_3,
#todas_categorias_menu_col_4
{
    float: left;
    margin: 0 0 0 15px;
    width: 175px;
}

/*------------------------->> ESTILO COLUNAS */
.todas_categorias_menu_estilo li {
    color: #FFFFFF;
    margin-bottom: 5px;
}

.todas_categorias_menu_estilo li small {
    color: #999999;
    font-size: 10px;
}

.todas_categorias_menu_estilo li a {
    color: #666666;
    font-size: 12px;

    padding: 4px 6px 5px 6px;
    text-decoration: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.todas_categorias_menu_estilo li a:hover {
    color: #FFFFFF;
}

.todas_categorias_menu_estilo li a:hover small {
    color: #FFFFFF;
}





/*--------------------------------------------------------------------------->> OVERLAY LOADING */
.isloading-overlay {
    position: relative;
    text-align: center;
}

.isloading-overlay .isloading-wrapper {
    background: #333;
    margin: 0 auto;
    padding: 8px 1px 0 1px;
    top: 20%;
    z-index: 9000;
}


