@charset "utf-8";
/* CSS Document */

* {
	border: 0;
	padding: 0;
	margin: 0;
	outline: none;
}

body {
	background: url(../../images/backend/header_background.jpg) repeat-x;
    font-family: tahoma;
    width: 100%;
}

/*--------------------------------------------------------------------------->> CONTAINER */
#container {
    margin: 0 auto;
	min-width: 1100px;
	max-width: 1100px;
	min-height: 1000px;
	margin-bottom: 40px;
}

/*--------------------------------------------------------------------------->> HEADER */
#header {
    height: 250px;
    width: 100%;
}

/*-------------------------------------------------->> HEADER 1 */
#header_1 {
    background: #333333;
    height: 40px;
    width: 100%;
}

/*------------------------->> MENU */
#header_1_sites {
    float: left;
    position: relative;
    left: 5px;
    top: 5px;
}

#header_1_sites li {
    display: inline;
    float: left;
}

#header_1_sites li a {
    color: #FFFFFF;
    font-size: 12px;
	display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px 0 15px;
    text-decoration: none;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#header_1_sites li a:hover {
    background: #444444;
}

#header_1_sites li a:active {
    background: #444444;
}

/*------------------------->> MENU */
#header_1_menu {
    float: right;
    position: relative;
    right: 5px;
    top: 5px;
}

#header_1_menu li {
    display: inline;
    float: right;
}

#header_1_menu li a {
    color: #FFFFFF;
    font-size: 12px;
	display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px 0 15px;
    text-decoration: none;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#header_1_menu li a:hover {
    background: #444444;
}

#header_1_menu li a:active {
    background: #444444;
}

/*-------------------------------------------------->> HEADER 2 */
#header_2 {
    height: 105px;
    width: 100%;
}

/*------------------------->> LOGOTIPO */
#header_2_logotipo {
    float: left;
    left: 5px;
	top: 5px;
    position: relative;
}

#header_2_logotipo img {
    height: 85px;
    width: 275px;
}

/*------------------------->> BUSCAR VAGAS */
#header_2_buscar_vagas-canditatos {
    float: right;
    position: relative;
    right: 5px;
    top: 35px;
}

#header_2_buscar_vagas-canditatos i {
    color: #FFFFFF;
    font-size: 10px;
}

#header_2_buscar_vagas-canditatos input[type=text] {
	background: #FFFFFF url(../../images/header_2_buscar_vagas_lupa.jpg) no-repeat;
    color: #666666;
    float: left;
    font-size: 14px;
    height: 40px;
    text-align: left;
    text-indent: 30px;
    width: 300px;

	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	-moz-border-radius-topleft: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-webkit-border-top-left-radius: 2px;

}

#header_2_buscar_vagas-canditatos input[type=text]:focus {
	background: #FFFFFF url(../../images/header_2_buscar_vagas_lupa.jpg) 0px -40px no-repeat;
}

#header_2_buscar_vagas-canditatos select {
	font-style: italic;
    color: #0063C6;
    font-size: 14px;
    outline: none;
    padding: 5px;
	height: 40px;

	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-topright: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-top-right-radius: 2px;
}

/*------------------------->> CADASTRAR VAGA */
#header_2_cadastrar_vaga {
    float: right;
    position: relative;
    right: 15px;
    top: 35px;
}

#header_2_cadastrar_vaga a {
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    width: 180px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#header_2_cadastrar_vaga a {
	background: #0063C6;
}

#header_2_cadastrar_vaga a:hover {
	background: #0080FF;
}

/*-------------------------------------------------->> HEADER 3 */
#header_3 {
    height: 50px;
    width: 100%;
}

/*------------------------->> TODAS CATEGORIAS */
#header_3_todas_categorias {
    float: left;
    height: 36px;
    left: 5px;
    position: relative;
    top: 8px;
    width: 160px;
}

#header_3_todas_categorias a {
	background: #0059B2;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#header_3_todas_categorias a:hover {
	background: #FFFFFF;
	color: #0063C6;
}

#header_3_todas_categorias a:active {
	background: #FFFFFF;
	color: #0063C6;
}

/*------------------------->> CATEGORIAS */
#header_3_menus {
    float: left;
    height: 36px;
    left: 10px;
    position: relative;
    top: 8px;
	max-height: 925px;
}

#header_3_menus li {
    display: inline;
    float: left;
}

#header_3_menus li a {
	background: #00468C;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    padding: 0 15px 0 15px;
    text-decoration: none;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#header_3_menus li a:hover {
	background: #0059B2;
}

#header_3_menus li a:active {
	background: #0059B2;
}

/*-------------------------------------------------->> HEADER 4 */
#header_4 {
    height: 40px;
    width: 100%;
}

/*------------------------->> NAVEGAÇÃO */
#header_4_navegacao {
    float: left;
    height: 30px;
    left: 5px;
    position: relative;
    top: 5px;
}

#header_4_navegacao li {
	float: left;
    display: inline;
    padding: 0 15px 0 0;
}

#header_4_navegacao li a {
    color: #999999;
    font-size: 11px;
    text-decoration: none;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#header_4_navegacao li a:hover {
	color: #0080FF;
}

#header_4_navegacao li a:active {
	color: #0080FF;
}

/*--------------------------------------------------------------------------->> FOOTER BODY */
#footer_body {
	margin: 50px 0 0 0;
	background: url(../../images/backend/footer_background.jpg) repeat-x;
    height: 150px;
    width: 100%;
	min-width: 1100px;
}

/*--------------------------------------------------------------------------->> FOOTER */
#footer {
    margin: 0 auto;
	width: 1100px;
}

/*-------------------------------------------------->> FOOTER 1 */
#footer_1 {
    height: 100px;
    width: 100%;
}

/*------------------------->> MENU */
#footer_1_menu {
    float: right;
    position: relative;
    right: 5px;
    top: 8px;
}

#footer_1_menu li {
    display: inline;
    float: right;
}

#footer_1_menu li a {
    color: #FFFFFF;
    font-size: 12px;
	display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px 0 15px;
    text-decoration: none;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#footer_1_menu li a:hover {
    background: #0063C6;
}

#footer_1_menu li a:active {
    background: #0063C6;
}

/*-------------------------------------------------->> FOOTER 3 */
#footer_3 {
    height: 40px;
    width: 100%;
}

/*------------------------->> COPYRIGHT*/
#footer_3_copyright {
    color: #FFFFFF;
    float: right;
    font-size: 12px;
    position: relative;
    right: 5px;
}

#footer_3_copyright a {
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
}

/*--------------------------------------------------------------------------->> VAGA */

#vaga_enviar_curriculo {
	height: 40px;
}

#vaga_enviar_curriculo a,
#vaga_enviar_curriculo spam
{
	display: block;
	float: left;
    font-size: 14px;
    padding: 10px 15px;
    text-align: center;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#vaga_enviar_curriculo a {
	background: #00468C;
    color: #FFFFFF;
}

#vaga_enviar_curriculo a:hover {
	background: #0063C6;
}

#vaga_enviar_curriculo spam {
	background: #666666;
    color: #FFFFFF;
}

/*------------------------->> CANDIDATOS */
#vaga_candidatos {
    background: #EEEEEE;
    float: right;
    font-size: 22px;
    text-align: center;
	padding: 5px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#vaga_candidatos span {
    color: #999999;
    font-size: 12px;
    position: relative;
    text-align: center;
    top: -8px;
}

#vaga_candidatos {
	color: #00468C;
}

/*------------------------->> LIKE BOTTON */
#vaga_like_button {
    float: right;
    position: relative;
    right: 5px;
}































/*--------------------------------------------------------------------------->> PAGE TEMPLATE */
.page_template {
	color: #555555;
    padding: 5px;
	font-size: 12px;
}

.page_template a {
	color: #00468C;
    text-decoration: none;
}

.page_template a:hover {
	color: #0080FF;
}

/*--------------------------------------------------------------------------->> TITULO PEQUENO */
.titulo_pequeno {
    margin: 0 0 5px 0;
    font-size: 14px;
	color: #00468C;
}

/*--------------------------------------------------------------------------->> TITULO MÉDIO */
.titulo_medio {
    margin: 0 0 10px 0;
	color: #00468C;
    font-size: 16px;
}

/*--------------------------------------------------------------------------->> TITULO GRANDE */
.titulo_grande {
    margin: 0 0 10px 0;
	color: #00468C;
    font-size: 20px;
}

/*--------------------------------------------------------------------------->> ROW/ROW-ALT */
.row {
    background: #EEEEEE;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.row-alt {
    background: #FBFBFB;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

}

.row,
.row-alt
{
    font-size: 12px;
	min-height: 35px;
    margin: 0 0 2px 0;
    width: 100%;
}

.row small,
.row-alt small
{
    font-size: 11px;
}

/*------------------------->> ROW 1 */
#row_1 {
	height: 35px;
}

/*------------------------->> ROW 2 */
#row_2 {
	border-top: 1px solid #FFFFFF;
	font-size: 11px;
	height: 20px;
	margin: 0px 0px 4px 0px;

	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	-moz-border-radius-bottomright: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
}

/*------------------------->> ROW INFO */
.row-info {
    color: #666666;
    float: left;
    height: 35px;
}

.row-info small {
    position: relative;
    top: 5px;
}

.row-info span {
    color: #999999;
}

.row-info u {
	color: #666666;
    padding: 3px 5px;
    position: relative;
    text-decoration: none;
    top: 5px;
}

.row-info a {
	color: #00468C;
    padding: 3px 5px;
    position: relative;
    text-decoration: none;
    top: 5px;
}

.row-info a:hover {
	background: #00468C;
    color: #FFFFFF;
    text-decoration: none;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.row-info img {
    margin: 0 5px 0 5px;
    position: relative;
    top: 9px;
}

/*------------------------->> ROW 2 INFO */
.row_2-info {
	color: #666666;
	float: left;
	font-size: 11px;
	left: 5px;
	position: relative;
	top: 3px;
}

.row_2-info span{
	color: #888888;
}

/*------------------------->> ROW MENUS */
.row_menu {
    border-left: 2px solid #FFFFFF;
    float: right;
    height: 35px;
    margin: 0 0 0 5px;
    padding: 0 0 0 5px;
    position: relative;
    right: 5px;

    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-topright: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-top-right-radius: 2px;
}

.row_menu img {
    position: relative;
    top: 10px;
}

/*------------------------->> COUNTER */
.counter {
    float: right;
    position: relative;
    right: 5px;
    top: 10px;
}

.counter b {
	color: #00468C;
}

.counter small {
    color: #999999;
}

/*------------------------->> FEATURED IMG */
.featured img {
    float: right;
    position: relative;
    right: 0;
    top: 0;
}

/*------------------------->> TIME POST */
.time_post {
    float: right;
    position: relative;
    right: 5px;
    top: 10px;
}

.time_post small {
    color: #999999;
}

.time_post img {
    position: relative;
    top: 1px;
}

/*--------------------------------------------------------------------------->> PAGE COUNT LETTER */
.page_count-letter {
    margin: 20px 0;
}

.page_count-letter li {
    display: inline;
}

.page_count-letter li a {
	background: #EEEEEE;
    color: #666666;
    font-size: 12px;
    padding: 5px;
    text-decoration: none;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.page_count-letter a:hover {
	color: #FFFFFF;
	background: #333333;
}

/*--------------------------------------------------------------------------->> ERRO INPUT */
.formulario div.error {
    clear: both;
    color: #FF0000;
}

/*--------------------------------------------------------------------------->> FORMÁRIO SELECT */
.formulario select {
    border: 1px solid #E9E9E9;
    color: #888888;
    font-size: 12px;
    outline: none;
    padding: 10px;
	margin: 4px 0;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.formulario select:focus {
    border: 1px solid #DDDDDD;
}

.formulario select.error {
    border: 1px solid #FF0000;
}

/*--------------------------------------------------------------------------->> FORMÁRIO SUBMIT */
.formulario input[type=submit],
.formulario input[type=button],
.formulario button
{
	background: #00468C;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
	margin: 4px 0;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

/*--------------------------------------------------------------------------->> FORMÁRIO TEXT/PASSWORD */
.formulario input[type=text],
.formulario input[type=email],
.formulario input[type=password]
{
    border: 1px solid #EEEEEE;
    color: #888888;
    font-family: tahoma;
    font-size: 12px;
    padding: 10px;
	margin: 4px 0;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.formulario input[type=text]:focus,
.formulario input[type=email]:focus,
.formulario input[type=password]:focus
{
    border: 1px solid #DDDDDD;
}

.formulario input[type=text].error,
.formulario input[type=email].error,
.formulario input[type=password].error
{
    border: 1px solid #FF0000;
}

/*--------------------------------------------------------------------------->> FORMÁRIO TEXT AREA */
.formulario textarea {
    border: 1px solid #E9E9E9;
    color: #888888;
    font-family: tahoma;
    font-size: 12px;
    padding: 10px;
	margin: 4px 0;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.formulario textarea:focus {
    border: 1px solid #DDDDDD;
}

.formulario textarea.error {
    border: 1px solid #FF0000;
}

.formulario input[type=submit] {
	background: #00468C;
}

.formulario input[type=submit]:hover {
	background: #0059B2;
}


/*--------------------------------------------------------------------------->> MOLDURA CINZA */
.moldura_cinza {
    background: #F5F5F5;
    color: #555555;
    font-size: 12px;
    padding: 10px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.moldura_cinza small {
    color: #999999;
    font-size: 10px;
}








.categorias_sidebar a:hover {
    color: #FFFFFF;
}

.categorias_sidebar li {
    display: inline;
}

.categorias_sidebar li small {
    color: #999999;
}

.categorias_sidebar li a {
    background: #EEEEEE;
    color: #666666;
    display: block;
    height: 32px;
    line-height: 32px;
    margin: 0 0 2px 0;
    padding: 0 0 0 10px;
    text-decoration: none;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.categorias_sidebar li a:hover {
    color: #666666;
	background: #F5F5F5;
}

.categorias_sidebar li a:hover small {
    color: #999999;
}

/*--------------------------------------------------------------------------->> BOTÃO */
.botao {
	float: right;
}

.botao li {
	display: inline;
	float: left;
}

.botao li a {
	background: #00468C;
	color: #FFFFFF;
	display: block;
	font-size: 11px;
	height: 22px;
	line-height: 22px;
	margin: 0px 0px 0px 5px;
	padding: 0px 10px 0px 10px;
	text-decoration: none;

	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.botao li a:hover {
	color: #FFFFFF;
	background: #0063C6;
}

/*--------------------------------------------------------------------------->> ALERTA CINZA */
.alerta_cinza {
    background: #EDEDED;
    color: #666666;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

/*--------------------------------------------------------------------------->> ALERTA VERDE */
.alerta_verde {
    background: #88C11E;
    color: #FFFFFF;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

/*--------------------------------------------------------------------------->> ALERTA VERMELHO */
.alerta_vermelho {
    background: #FF0E0E;
    color: #FFFFFF;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px;

    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}







































.isloading-overlay {
    position: relative;
    text-align: center;
}

/*--------------------------------------------------------------------------->> NOVAS CLASSES */

.isloading-overlay .isloading-wrapper {
    background: #FFFFFF;
    -webkit-border-radius: 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 7px;
    -moz-background-clip: padding;
    border-radius: 7px;
    background-clip: padding-box;
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    top: 10%;
    z-index: 9000;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

.highlighted li.placeholder {
    position: relative;
    /** More li styles **/
}
.highlighted li.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -6px;
    top: -1px;
    border: 5px solid transparent;
    border-left-color: #00468C;
    border-right: none;
}

small a {
    top: 0!important;
}
